* {
    margin: 0;
    padding: 0;
}

body {
  margin: 0;
  padding-top: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222222;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2 {
    font-size: 54px;
    color: white;
    padding: 20px;
    margin-bottom: 30px;
}

h2 {
    font-size: 36px;
}

p {
    margin-bottom: 40px;
    font-size: 20px;
}

canvas {
    width: 100%;
    height: 600px;
    background-color: white;
}

button {
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    font-size: 26px;
    width: 200px;
    cursor: pointer;
}

input {
    padding: 10px;
    font-size: 20px;
}

.App {
    width: 80%;
    padding: 20px;
    display: block;
    margin: auto;
    background-color: #333333;
}

.rules-editor, .seed-box {
    margin-top: 30px;
    background-color: #222222;
    color: white;
    display: block;
    padding: 20px;
}

.rules {
    margin: 20px;
}

.rule {
    display: block;
    margin: auto;
    font-size: 24px;
}
